*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input{
  width: calc(50% - 32px);
  height: 30px;
  margin-left: 25px;  
  padding : 5px;
  margin-bottom: 5px;
  border: none;
  border-bottom: 1px solid grey;  
}
input.long{
  width: calc(100% - 35px);  
}


.wrapper{
  padding: 30px 50px;
  height: 100vh;
}

.reg__data,.user__data {
  width: 50%;
  float: left;
}


/*Иконки*/
.icon{  
  width: 20px;
  height: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;  
  line-height: 20px;
  position: absolute;
  top: 5px;
  
  /* background-position: 0 5px; */
}
.user{
  background-image: url('img/username.png');  
}
.email{
  background-image: url('img/email.png'); 
}
.password{
  background-image: url('img/pswd.png');
}


.input-item{
  position: relative;
}