.chBoxContainer input {
display: none;
}

.chBoxContainer {
    margin-right: 5px;
}

.chBoxStyle {
    display: inline-block;
    width: 35px;
    height: 20px;
    border-radius: 5px;
    padding: .4px;
    margin-bottom: -5px;
    margin-right: 5px;
    border: 1px solid #E44061;
    box-shadow: inset 0 0 3px 1px #E44061;
}

.chBoxStyle div {
    width: 20px;
    height: 18px;
    border-radius: 5px;
    background-color: #E44061;
    margin-left: 1px;
    float: right;
}

.chBoxContainer input:checked ~ .chBoxStyle{
    border: 1px solid #42AD4A;
    box-shadow: inset 0 0 3px 1px #42AD4A;
}

.chBoxContainer input:checked ~ .chBoxStyle div{
    background-color: #42AD4A;
    float: left;
}