.containRadioBox input {
    display: none;
}

.rBoxStyle {
    display: inline-block;
    width: 21px;
    height: 21px;
    border: 1px solid #42AD4A;
    border-radius: 50%;
    margin: 0 5px -5px 10px;

}

.rBoxStyle div {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 2px;
}

.containRadioBox input:checked~.rBoxStyle div {
    background-color: #42AD4A;
}