@import url('../../CSS/reset.css');
@import url('../../CSS/nav.css');
@import url('input_base.css');
@import url('input_correct.css');
@import url('input_incorrect.css');
@import url('checkbox.css');
@import url('radioBtn.css');
@import url('btn.css');
@import url('disBtn.css');
@import url('circleBtn.css');
@import url('textArea.css');

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: wheat;
    user-select: none;
}

.container {
    width: 800px;
    margin: 50px auto;
    border: 1px solid goldenrod;
    border-radius: 5px;
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 1px 1px 15px 0 #000000;
}

p{
    font-weight: bold;
    margin: 15px 0 15px 0;
}

