@import url('nav.css');

body {
    background-color: wheat;
    text-align: center;
    font-size: 15pt;
    margin: 0;
}

.tasks {
    width: 500px;
    margin: 50px auto;
    text-align: left;
}

.taskH {
    color:#3A68A5;
    font-weight: bold;
    font-size: 20pt;
}

ul li:first-child{
    list-style: none;
    margin-left: -13pt;
}