body {
  display: grid;
  grid-template-areas:
    "header header header"
    "menu-left main-content menu-right"
    "left-content main-content right-content"
    "left-content footer right-content";
  grid-template-rows: 200px 200px 300px 100px;
  grid-template-columns: 25% 50% 25%;
  grid-gap: 0;
  height: 100vh;
  margin: 0;
}
#header {
  grid-area: header;
  background-color: rgba(139, 91, 184, 0.548);
  font-size: 20px;
  text-align: center;
  line-height: 200px;
  border: solid black 1px;
}
#menu-left {
  grid-area: menu-left;
  background-color: rgba(91, 162, 184, 0.548);
  font-size: 20px;
  text-align: center;
  line-height: 200px;
  border: solid black 1px;
}
#main-content {
  grid-area: main-content;
  background-color: rgba(184, 147, 91, 0.548);
  font-size: 20px;
  text-align: center;
  line-height: 500px;
  border: solid black 1px;
}
#menu-right {
  grid-area: menu-right;
  background-color: rgba(91, 162, 184, 0.548);
  font-size: 20px;
  text-align: center;
  line-height: 200px;
  border: solid black 1px;
}
#left-content {
  grid-area: left-content;
  background-color: rgba(184, 91, 172, 0.548);
  font-size: 20px;
  text-align: center;
  line-height: 400px;
  border: solid black 1px;
}
#right-content {
  grid-area: right-content;
  background-color: rgba(184, 91, 172, 0.548);
  font-size: 20px;
  text-align: center;
  line-height: 400px;
  border: solid black 1px;
}
#footer {
  grid-area: footer;
  background-color: rgba(140, 79, 175, 0.5);
  font-size: 20px;
  text-align: center;
  line-height: 100px;
  border: solid black 1px;
}
