.conteiner {
  height: 100vh;
  display: grid;
  grid-template-columns: 10% 800px 1fr;
  grid-template-rows: 200px 1fr;
  border: 1px solid #000000;
  grid-template-areas:
    "menu mainContent rightMenu"
    "menu mainContent rightContent";
}

.rightMenu {
  grid-area: rightMenu;
  background-color: #b5cadd;
}

.mainContent {
  grid-area: mainContent;
  background-color: #e2d4a9;
}

.rightContent {
  grid-area: rightContent;
  background-color: #dfc3a5;
}

.menu {
  grid-area: menu;
  background-color: #cca5b6;
}

.rightMenu,
.mainContent,
.rightContent,
.menu {
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
