.table{
    width: 800px;
    font-size: 0;
}

.dot{
    width: 100px;
    height: 100px;
    display: inline-block;
    
}

.white_d{
    background-color: wheat;
}
.black_d{
    background-color: darkred;
}

/* Черная пешка */
.war_b{
    width: 0;
    height: 0;
    border-bottom: 70px solid black;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    margin: 10px auto;
}

.war_b::before{
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
    margin-left: -12.5px;
}

.war_b::after{
    content: "";
    display: block;
    width: 30px;
    height: 10px;
    background-color: black;
    margin-left: -15px;
    margin-top: -5px;
}
/* Белый король */
.king_w{
    width: 50px;
    height: 20px;
    background-color: white;
    margin: 10px auto;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.king_w::before{
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    margin-left: 7.5px;
}

.king_w::after{
    content: "";
    display: block;
    border-bottom: 40px solid white;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    margin-top: -5px;
}
/* Черный король */
.king_b{
    width: 50px;
    height: 20px;
    background-color: black;
    margin: 10px auto;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.king_b::before{
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    background-color: black;
    border-radius: 50%;
    margin-left: 7.5px;
}

.king_b::after{
    content: "";
    display: block;
    border-bottom: 40px solid black;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    margin-top: -5px;
}