form {
    width: 90vw;
    box-shadow: 0 0 15px 5px #000000;
    background-color: #F5F5F5;
    margin: 10px auto;
    padding: 20px 0 20px 0;
    display: grid;
}

a {
    color: #000000;
}

input {
    outline: none;
}

.dataFields {
    border: 0;
    border-bottom-width: 2px;
    border-bottom-style: inset;
    border-bottom-color: lightgrey;
    background: none;
    margin-bottom: 10px;
    padding: 30px 0 5px 0;
}

legend span {
    line-height: 40px;
    font-size: large;
}

.nameImg,
.mailImg,
.pwdImg {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-bottom: -10px;
    cursor: pointer;
    margin-right: 5px;
}

.nameImg {
    background-image: url(../img/username.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.mailImg {
    background-image: url(../img/email.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.pwdImg {
    background-image: url(../img/pswd.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#userReceive,
#userAgree {
    margin: 5px;

}

.regFormFS {
    grid-area: regFormFS;
}

.persDetFS {
    grid-area: persDetFS;
}

.chBoxFS {
    grid-area: chBoxFS;
    font-size: 10pt;
    padding: 0 40px;
}

.submitFS {
    grid-area: submitFS;
    position: relative;
    padding: 0 40px;
}

[type="submit"] {
    width: 150px;
    color: #ffffff;
    background-color: #068C8C;
    border: none;
    padding: 10px;
    border-radius: 2px;
    position: absolute;
    right: 40px;
    bottom: calc(50% - 25px);
}

[type="submit"]:hover {
    background-color: #094E4E;
    cursor: pointer;
}

[type="submit"]:active {
    box-shadow: inset 0 0 3px 1px #000000;
    transform: scale(0.95);
}

.submitFS {
    border-top: 1px solid lightgrey;
}

@media screen and (min-width: 901px) {

    form {
        height: 80vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 5fr 2fr 1fr;
        grid-template-areas:
            "regFormFS persDetFS"
            "chBoxFS chBoxFS"
            "submitFS submitFS";
        font-family: Arial, Helvetica, sans-serif;
        grid-column-gap: 20px;
    }

    .regFormFS {
        padding: 0 0 0 40px;
    }

    .persDetFS {
        padding: 0 40px 0 0;
    }

    #userName,
    #userMail {
        width: calc(100% - 50px);
    }

    #userFName,
    #userLName,
    #userGender,
    #userDoB {
        width: calc(50% - 10px);
    }

    #userPasswd,
    #userPasswdConf {
        width: calc(50% - 27.5px);
    }

    .hiddn {
        display: none;
    }

    #userPasswdConf,
    #userLName,
    #userDoB {
        margin-left: 10px;
    }
}