@media screen and (max-width: 599px) {
    form {
        height: 130vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 0.2fr 0.2fr;
        grid-template-areas:
            "regFormFS"
            "persDetFS"
            "chBoxFS"
            "submitFS";
        font-family: Arial, Helvetica, sans-serif;
        grid-column-gap: 20px;
    }

    .regFormFS {
        padding: 0 40px 0 40px;
    }

    .persDetFS {
        padding: 0 40px 0 40px;
    }

    #userName,
    #userMail {
        width: calc(100% - 50px);
    }

    #userFName,
    #userLName,
    #userGender,
    #userDoB {
        width: calc(100% - 10px);
    }

    #userPasswd,
    #userPasswdConf {
        width: calc(100% - 50px);
    }

    .hiddn {
        width: 30px;
        height: 30px;
        display: inline-block;
        margin-bottom: -10px;
        margin-right: 5px;
    }

    #userPasswdConf,
    #userLName,
    #userDoB {
        margin-left: 0;
    }
}